.radio-container {
    display: flex;
    flex-direction: column;
    gap: 15rem;

    .radio-label {
        display: flex;
        align-items: center;

        .radio-input {
            display: none;

            &:disabled + .custom-radio-button {
                background-color: var(--c-grey-2);
                cursor: not-allowed;
            }
        
            &:checked + .custom-radio-button {
                background-color: var(--c-blue);
                border: 2rem solid var(--c-blue);    
            }
        
            &:checked ~ .custom-radio-button .custom-radio-circle {
                transform: scale(1);
            }
        }

        .custom-radio-button {
            display: flex;
            position: relative;
            align-items: center;
            width: 24rem;
            height: 24rem;
            border-radius: 50%;
            border: 2rem solid var(--c-grey-2);
            margin-right: 8rem;
            transition: var(--transition);

            .custom-radio-circle {
                position: absolute;
                width: 9rem;
                height: 9rem;
                left: 6rem;
                top: 6rem;
                border-radius: 50%;
                background: var(--c-white);
                transform: scale(0);
                transition: var(--transition);
            }
        }
    }
}







