:root {
    --font-family: "Roboto", sans-serif;
    --transition: .2s all ease-out;

    --c-white: #fff;
    --c-black: #000;
    --c-bg-main: #f0f0f0;
    --c-text-main: #2d083b;
    --c-text-second: #4d3967;
    --c-blue: #5028c6;
    --c-pink: #c12f5d;
    --c-pink-light: rgba(232, 91, 129, 0.5);
    --c-purple-light: rgba(112, 72, 232, 0.5);
    --c-grey-1: #f9f9f9;
    --c-grey-2: #e1e1e1;
    --c-grey-3: #b5b5b5;
    --c-grey-4: #505050;;
  }
  