.input-label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10rem;
    
    input {
        border: none;
        max-width: 350rem;
        padding: 15rem 20rem;
        box-shadow: 0 1px 1px 0 var(--c-grey-3);
        border-radius: 8rem;
        margin-top: 3rem;
        outline: none;

        &:focus {
            border: 1rem solid var(--c-pink);
        }

        &:disabled {
            cursor: not-allowed;
        }

        &::placeholder {
            color: var(--c-grey-3);
            font-size: 14rem;
        }
    }
}



