.button-item {
    padding: 15rem 60rem;
    font-weight: 500;
    font-size: 16rem;
    line-height: 112%;
    text-align: center;
    margin: 5rem;
    border-radius: 8rem;
    transition: var(--transition);
}